@{
    ViewData["Title"] = "Home Page";
}

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User) && ViewBag.ArtistName != "")
{
    <div class="jumbotron">
        <h1>Welcome, @ViewBag.ArtistName!</h1>
        <h2>You are a registered Artist.</h2>
    </div>
    <div>
        <a href="/Events/MyEvents" class="btn btn-primary">My Events</a>
    </div>

}
else if (SignInManager.IsSignedIn(User) && ViewBag.ArtistName == "")
{
    <div class="jumbotron">
        <h1>Welcome, @UserManager.GetUserName(User)!</h1>
        <h2>You are a regular User.</h2>
    </div>
    <div>
        <a href="/Events/AttendingEvents" class="btn btn-primary">Events I'm Attending</a>
        <a href="/Events" class="btn btn-success">All Events</a>
    </div>

}
else
{
    <h1 class="jumbotron">Welcome to Event Manager!</h1>
    <h2>Please sign in or create an account to use the features.</h2>
}
