@{
    ViewData["Title"] = "Home Page";
}

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User) && ViewBag.ArtistName != "")
{
    <h1 class="jumbotron">Welcome, @ViewBag.ArtistName!</h1>
    
}
else if (SignInManager.IsSignedIn(User) && ViewBag.ArtistName == "")
{
    <h1 class="jumbotron">Welcome, @ViewBag.ArtistName!</h1>

}
else
{
    <h1 class="jumbotron">Welcome to Event Manager!</h1>
    <h2>Please sign in or create an account to use the features.</h2>
}
